header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;

  nav {
    margin-left: auto;

    .nav-link {
      &.active {
        &:focus,
        &:hover {
          background: #212529c4 !important;
          color: white;
          border-radius: 5px;
        }
      }
    }
  }
}

.loggedIn-status {
  flex-basis: 100%;
  text-align: right;
  flex-basis: 100%;
  align-self: flex-end;
  margin-left: auto;
  margin-right: 0;
  text-align: right;
  margin-top: 0.5em;
  align-items: center;
  text-transform: capitalize;
  padding: 1em 0;
  margin-bottom: 0;
  padding-bottom: 0;
  .badge-info {
    margin-left: 0.5em;
    font-size: 0.85em;
  }
}
