footer {
  // position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  width: 100%;
  align-items: center;
  padding: .5em;
  background: #eee;
}
