$green: #16C6C0;
$red: #F46272;
// $primary: $green;

#app-wrapper {
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  height: 100vh;
}
#view {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 1.5em;
  margin-bottom: 2.5em;
}
@import 'layout';
// @import 'transitions';
@import '~bootstrap/scss/bootstrap';
