$green: #16C6C0;
$red: #F46272;
// $primary: $green;

#app-wrapper {
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
}
@import 'layout';
// @import 'transitions';
@import '~bootstrap/scss/bootstrap';
