header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;

  nav {
    margin-left: auto;

    .nav-link {
      &.active {
        &:focus, &:hover {
          background: #212529c4 !important;
          color: white;
          border-radius: 5px;
        }
      }
    }
  }
}

.loggedIn-status {
  flex-basis: 100%;
  text-align: right;
}
